mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    height: 10vh;
    
    padding: 0.5em 0;
    margin-bottom: 1em;
    background-color: var(--header-color);
}

mat-card-title {
    font-family: 'VT323';
    font-size: 40px;

    text-shadow: var(--shadow-orange-pink);
}