.wrapper {
    grid-area: wrapper;
    box-sizing: border-box;

    display: flex;
    width: 100%;
    gap: 3em;
    align-items: stretch;
    justify-content: space-evenly;
}

button {
    grid-area: btn;
    position: absolute;
    width: 8%;
    left: 46%;
    bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
    z-index: 0;

    font-family: VT323;
    font-size: 25px;
    font-weight: bold;
    background-image: var(--gradient-blue-purple);
    box-shadow: var(--shadow-orange-pink);
    border: transparent;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.2);
    background-image: var(--gradient-purple-blue);
}