mat-form-field {
    margin-left: 10%;
    margin-top: 5%;

    width: 80%;
    height: 50px;

    text-shadow: var(--shadow-orange);
}
  
.form-card {
    margin: 20px 0;
}
  
mat-card-actions {
    margin: 0 auto;

    text-align: center;
}

mat-label {
    color: white;
}

input {
    color: white !important;
}

button {
    margin-top: -30px;

    border-radius: 10px;
    background-image: var(--gradient-orange-purple);

    font-weight: bold;
    color: white !important;
    text-shadow: var(--shadow-orange);
}

button:hover {
    background-image: var(--gradient-purple-orange);
}

mat-card-title {
    position: absolute;
    top: 1em;
    left: calc(50% - 5em);
    width: 10em;

    text-align: center;
    font-size: 42px;
    font-family: 'VT323';
    text-shadow: var(--shadow-orange-pink);
}
  
.main-form {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    height: 400px;

    background-image: var(--gradient-purple-blue);
    border: 3px solid var(--border-color);
    border-radius: 10px;
}

p {
    margin: 0 auto 1em;

    text-align: center;
}