.card {
    height: min-content;
    width: 300px;
    padding-bottom: 0.5em;

    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center !important;

    background-color: var(--card-color);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    border: 5px solid var(--border-color);
}

.card .details {
    height: 0px;
    overflow: auto;
    overflow-x: hidden;
    background-color: transparent;
    
    margin: 0 1em;
}

.card .details *:not(a, img){
    text-align: left;
}

.card .type {
    margin: 0.2em 0;
}

.card img {
    border-radius: 10px;
    width: 200px;
    margin: auto
}

.card mat-card-title {
    margin: 0.5em auto;
    font-family: 'VT323';
    font-size: 24px;
    text-shadow: var(--shadow-orange-pink);

}

.card .details mat-list-item {
    height: 30px;
}

.card .details mat-list-item p {
    color: white !important;
}

.card a {
    text-align: center;
    height: 1.5em;
    color: white !important;
}

.card a:hover {
     text-shadow: var(--shadow-orange-pink); 
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--card-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000f61bf;
}