.card {
    height: min-content;
    width: 300px;
    padding-bottom: 0.5em;

    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    text-align: center !important;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    border-width: 5px;
}

.card .details {
    margin: 0 1em;
    height: 0px;

    overflow: auto;
    overflow-x: hidden;

    background-color: transparent;
}

.card .details *:not(a, img){
    text-align: left;
}

.card .type {
    margin: 0.2em 0;
}

.card img {
    margin: auto;
    width: 200px;

    border-radius: 10px;
}

.card mat-card-title {
    margin: 0.5em auto;

    font-family: 'VT323';
    font-size: 24px;
    text-shadow: var(--shadow-orange-pink);

}

.card .details mat-list-item {
    height: 30px;
}

.card .details mat-list-item p {
    color: white !important;
}

.card a {
    height: 1.5em;

    text-align: center;
    color: white !important;
}

.card a:hover {
    transform: scale(1.1);
    text-shadow: var(--shadow-orange-pink);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--card-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000f61bf;
}